@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="text-center col-lg-6 col-sm-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h1 class="display-6">To</h1>
            <h3>Kevinvetter.dk</h3>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 text-center mt-lg-0 mt-5">
        <p class="display-6">Praise the almighty dev</p>
        <img class="border border-light rounded-circle" src="/pics/Unknown.png" height="150" width="150" />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row text-center gap-0 smooth-box">
    <div class="col-sm-12 col-md-4">
        <img src="/pics/icons/dot-net.png" class="mb-3" height="100" width="100" onclick="redirectWithScroll('dot-net')" />
        <p>
            Nunc sit amet ligula euismod, varius eros id,
            volutpat ante. Phasellus id justo in dui condimentum
            bibendum. Praesent non euismod velit. Cras dictum
            libero non varius fermentum. Mauris porta feugiat
            est sed convallis. Curabitur ligula est, ullamcorper
            vestibulum dui et, vehicula sollicitudin ligula.
            Fusce a lacinia velit, ac dapibus mauris. Proin
            tempus ipsum nec nisi cursus hendrerit.
        </p>
    </div>
    <div class="col-sm-12 col-md-4">
        <img src="/pics/icons/html.png" class="mb-3" height="100" width="100" onclick="redirectWithScroll('html')"/>
        <p>
            Nunc sit amet ligula euismod, varius eros id,
            volutpat ante. Phasellus id justo in dui condimentum
            bibendum. Praesent non euismod velit. Cras dictum
            libero non varius fermentum. Mauris porta feugiat
            est sed convallis. Curabitur ligula est, ullamcorper
            vestibulum dui et, vehicula sollicitudin ligula.
            Fusce a lacinia velit, ac dapibus mauris. Proin
            tempus ipsum nec nisi cursus hendrerit.
        </p>
    </div>
    <div class="col-sm-12 col-md-4">
        <img src="/pics/icons/Javascript.png" class="mb-3" height="100" width="100" onclick="redirectWithScroll('js')" />
        <p>
            Nunc sit amet ligula euismod, varius eros id,
            volutpat ante. Phasellus id justo in dui condimentum
            bibendum. Praesent non euismod velit. Cras dictum
            libero non varius fermentum. Mauris porta feugiat
            est sed convallis. Curabitur ligula est, ullamcorper
            vestibulum dui et, vehicula sollicitudin ligula.
            Fusce a lacinia velit, ac dapibus mauris. Proin
            tempus ipsum nec nisi cursus hendrerit.
        </p>
    </div>
</div>
<script type="text/javascript">
    //To scroll to a specific element, use document.getElementById ('ID').scrollIntoView ().
    function redirectWithScroll(id){
        sessionStorage.setItem('ScrollTo', id)
        location.href="Projects"
    }
</script>