@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="text-center col-lg-6 col-sm-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h1 class="display-6">To</h1>
            <h3>Kevinvetter.dk</h3>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 text-center mt-lg-0 mt-5">
        <p class="display-6">Praise the almight dev</p>
        <img class="border border-primary rounded-circle" src="/pics/Unknown.png" height="150" width="150" />
    </div>
</div>
