html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #121212;
    color:#FFFFFF;
}
label{
    color:white !important;
}
input, textarea{
    background-color:#4C4C4C !important;
}
.nav-color {
    background-color: #1E1E24;
}

.nav-link {
    color: #FFFFFF !important;
}

.smooth-box {
    background-color: #1D1D1D;
    padding: 3%;
    border-radius: 25px 25px 25px 25px;
    margin: 1%
}

body h3, h1 {
    color: white;
}

.contact-form {
    text-align: center;
    color: black;
    background-color: #1D1D1D;
    padding: 3%;
    border-radius: 25px 25px 25px 25px;
    margin: 1%
}

    .contact-form p {
        margin-top: 1em;
        margin-bottom: 0.2em;
    }

    .contact-form input {
        margin-top: 1em;
    }

    .contact-form input, textarea {
        border: solid #1D1D1D 2px !important;
        border-radius: 5px 5px 5px 5px !important;
    }

#submit {
    border: none !important;
}

@media only screen and (min-width: 770px) {

    #plsCenter {
        width: 50%;
        margin: 0 auto;
    }
}

/*4C4C4C*/